version: '3.5'

services:
  backend:
    build: 
      context: backend/
      dockerfile: Dockerfile
    expose: 
        - "4000"
    volumes: 
      - ./backend:/app/
      - /app/node_modules
    ports:
      - "4000:4000"
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - cache
    command: ["npm", "start"]
  
  frontend:
    build:
      context: client/
      dockerfile: Dockerfile
    expose: 
        - "3000"
    volumes: 
      - ./client:/app/
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      - BACKEND=backend:4000
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend
    command: ["npm", "start"]
        
  cache:
    image: redis:6.2.6
    command: redis-server
    ports: 
      - "6379:6379"
    expose: 
      - "6379"
  mongodb:
    image: mongo:4.4.10
    expose: 
      - "27017"
    ports:
      - "27017:27017"

